<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokedex</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="~/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="~/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="~/img/favicons/favicon.ico">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="css/site.css" />

</head>

<body>
    <header>
        <div class="collapse bg-danger" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">Sobre</h4>
                        <p class="text-white">
                            Projeto desenvolvido para demonstrar a criação de páginas WEB com Net 6.0.
                            Demonstrar a criação de aplicações com padrão MVC e leitura de arquivos JSON,
                            além de boas práticas de Programação Orientada a Objetos, Páginas Dinâmicas e Uso de Sessão.
                        </p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contatos</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Follow on Twitter</a></li>
                            <li><a href="#" class="text-white">Like on Facebook</a></li>
                            <li><a href="#" class="text-white">E-mail</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-danger shadow-sm">
            <div class="container">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <img src="~/img/favicons/favicon-32x32.png" alt="Pokeball" class="me-2" />
                    &nbsp;<strong>POKÉDEX</strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    <main>
        @RenderBody()
    </main>

        <section class="pt-5 pb-3 text-center container">
            <div class="row">
                <div class="col mx-auto">
                    <h1>Pokédex</h1>
                    <div class="group">
                        <button id="btn-all" class="btn btn-md my-2 text-white bg-secondary btn-filter">Ver
                            Todos</button>
                        <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                            style="background-color:#aab">Aço</button>
                        <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                            style="background-color:#39f">Água</button>
                        <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                            style="background-color:#76e">Dragão</button>
                        <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                            style="background-color:#fc3">Elétrico</button>
                        <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                            style="background-color:#e9e">Fada</button>
                        <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                            style="background-color:#66b">Fantasma</button>
                        <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                            style="background-color:#f42">Fogo</button>
                        <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                            style="background-color:#6cf">Gelo</button>
                        <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                            style="background-color:#ab6">Inseto</button>
                        <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                            style="background-color:#b54">Lutador</button>
                        <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                            style="background-color:#aa9">Normal</button>
                        <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                            style="background-color:#ba6">Pedra</button>
                        <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                            style="background-color:#7c5">Planta</button>
                        <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                            style="background-color:#f59">Psíquico</button>
                        <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                            style="background-color:#754">Sombrio</button>
                        <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                            style="background-color:#db5">Terrestre</button>
                        <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                            style="background-color:#a59">Venenoso</button>
                        <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                            style="background-color:#89f">Voador</button>
                    </div>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">

                    <!-- Card Pokemon - Inicio -->
                    <div class="col">
                        <div class="card shadow-sm cursor-pointer planta venenoso" onclick="GetInfo(001)">
                            <img src="img/pokemons/001.png" class="card-img-top" width="100%" height="300"
                                alt="Bulbasaur" />
                            <div class="card-body">
                                <p class="card-text mb-0">Nº 001</p>
                                <h3 class="card-title">Bulbasaur</h3>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="#" class="btn my-2 text-white" style="background-color:#7c5">Planta</a>
                                        <a href="#" class="btn my-2 text-white"
                                            style="background-color:#a59">Venenoso</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card Pokemon - Fim -->

                    <!-- Card Pokemon - Inicio -->
                    <div class="col">
                        <div class="card shadow-sm cursor-pointer planta venenoso" onclick="GetInfo(002)">
                            <img src="img/pokemons/002.png" class="card-img-top" width="100%" height="300"
                                alt="Ivysaur" />
                            <div class="card-body">
                                <p class="card-text mb-0">Nº 002</p>
                                <h3 class="card-title">Ivysaur</h3>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="#" class="btn my-2 text-white" style="background-color:#7c5">Planta</a>
                                        <a href="#" class="btn my-2 text-white"
                                            style="background-color:#a59">Venenoso</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card Pokemon - Fim -->

                    <!-- Card Pokemon - Inicio -->
                    <div class="col">
                        <div class="card shadow-sm cursor-pointer planta venenoso" onclick="GetInfo(003)">
                            <img src="img/pokemons/003.png" class="card-img-top" width="100%" height="300"
                                alt="Venusaur" />
                            <div class="card-body">
                                <p class="card-text mb-0">Nº 003</p>
                                <h3 class="card-title">Venusaur</h3>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="#" class="btn my-2 text-white" style="background-color:#7c5">Planta</a>
                                        <a href="#" class="btn my-2 text-white"
                                            style="background-color:#a59">Venenoso</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card Pokemon - Fim -->

                    <!-- Card Pokemon - Inicio -->
                    <div class="col">
                        <div class="card shadow-sm cursor-pointer fogo" onclick="GetInfo(004)">
                            <img src="img/pokemons/004.png" class="card-img-top" width="100%" height="300"
                                alt="Charmander" />
                            <div class="card-body">
                                <p class="card-text mb-0">Nº 004</p>
                                <h3 class="card-title">Charmander</h3>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="#" class="btn my-2 text-white" style="background-color:#f42">Fogo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card Pokemon - Fim -->

                    <!-- Card Pokemon - Inicio -->
                    <div class="col">
                        <div class="card shadow-sm cursor-pointer fogo" onclick="GetInfo(005)">
                            <img src="img/pokemons/005.png" class="card-img-top" width="100%" height="300"
                                alt="Charmeleon" />
                            <div class="card-body">
                                <p class="card-text mb-0">Nº 005</p>
                                <h3 class="card-title">Charmeleon</h3>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="#" class="btn my-2 text-white" style="background-color:#f42">Fogo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card Pokemon - Fim -->

                    <!-- Card Pokemon - Inicio -->
                    <div class="col">
                        <div class="card shadow-sm cursor-pointer fogo voador" onclick="GetInfo(006)">
                            <img src="img/pokemons/006.png" class="card-img-top" width="100%" height="300"
                                alt="Charizard" />
                            <div class="card-body">
                                <p class="card-text mb-0">Nº 006</p>
                                <h3 class="card-title">Charizard</h3>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="#" class="btn my-2 text-white" style="background-color:#f42">Fogo</a>
                                        <a href="#" class="btn my-2 text-white" style="background-color:#89f">Voador</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card Pokemon - Fim -->

                    <!-- Card Pokemon - Inicio -->
                    <div class="col">
                        <div class="card shadow-sm cursor-pointer água" onclick="GetInfo(007)">
                            <img src="img/pokemons/007.png" class="card-img-top" width="100%" height="300"
                                alt="Squirtle" />
                            <div class="card-body">
                                <p class="card-text mb-0">Nº 007</p>
                                <h3 class="card-title">Squirtle</h3>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="#" class="btn my-2 text-white" style="background-color:#39f">Água</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card Pokemon - Fim -->

                    <!-- Card Pokemon - Inicio -->
                    <div class="col">
                        <div class="card shadow-sm cursor-pointer água" onclick="GetInfo(8)">
                            <img src="img/pokemons/008.png" class="card-img-top" width="100%" height="300"
                                alt="Wartortle" />
                            <div class="card-body">
                                <p class="card-text mb-0">Nº 008</p>
                                <h3 class="card-title">Wartortle</h3>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="#" class="btn my-2 text-white" style="background-color:#39f">Água</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card Pokemon - Fim -->

                    <!-- Card Pokemon - Inicio -->
                    <div class="col">
                        <div class="card shadow-sm cursor-pointer água" onclick="GetInfo(9)">
                            <img src="img/pokemons/009.png" class="card-img-top" width="100%" height="300"
                                alt="Blastoise" />
                            <div class="card-body">
                                <p class="card-text mb-0">Nº 009</p>
                                <h3 class="card-title">Blastoise</h3>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="#" class="btn my-2 text-white" style="background-color:#39f">Água</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card Pokemon - Fim -->

                    <!-- Card Pokemon - Inicio -->
                    <div class="col">
                        <div class="card shadow-sm cursor-pointer inseto" onclick="GetInfo(010)">
                            <img src="img/pokemons/010.png" class="card-img-top" width="100%" height="300"
                                alt="Caterpie" />
                            <div class="card-body">
                                <p class="card-text mb-0">Nº 010</p>
                                <h3 class="card-title">Caterpie</h3>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="#" class="btn my-2 text-white" style="background-color:#ab6">Inseto</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card Pokemon - Fim -->

                    <!-- Card Pokemon - Inicio -->
                    <div class="col">
                        <div class="card shadow-sm cursor-pointer inseto" onclick="GetInfo(011)">
                            <img src="img/pokemons/011.png" class="card-img-top" width="100%" height="300"
                                alt="Metapod" />
                            <div class="card-body">
                                <p class="card-text mb-0">Nº 011</p>
                                <h3 class="card-title">Metapod</h3>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="#" class="btn my-2 text-white" style="background-color:#ab6">Inseto</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card Pokemon - Fim -->

                    <!-- Card Pokemon - Inicio -->
                    <div class="col">
                        <div class="card shadow-sm cursor-pointer inseto voador" onclick="GetInfo(012)">
                            <img src="img/pokemons/012.png" class="card-img-top" width="100%" height="300"
                                alt="Butterfree" />
                            <div class="card-body">
                                <p class="card-text mb-0">Nº 012</p>
                                <h3 class="card-title">Butterfree</h3>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="#" class="btn my-2 text-white" style="background-color:#ab6">Inseto</a>
                                        <a href="#" class="btn my-2 text-white" style="background-color:#89f">Voador</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card Pokemon - Fim -->


                    <div id="zeroPokemon" class="col-lg-12 text-center" hidden>
                        <h1 class="my-3 text-danger">Nenhum Pokemon Encontrado</h1>
                    </div>
                </div>


            </div>
        </div>



    </main>

    <footer class="text-muted py-3 ">
        <div class="container">
            <p class="float-end">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-arrow-up-circle-fill text-danger" viewBox="0 0 16 16">
                        <path
                            d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
                    </svg>
                </a>
            </p>
            <p class="mb-1">Pokédex - Versão Gallo & Márcio</p>
            <p class="mb-0">Projeto Integrador desenvolvido para as aulas de Interfaces WEB I e Sistemas Web I</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <!-- <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script> -->
</body>

</html>